body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}
h1 {
    text-align: center;
    color: #211111;
    margin: 40px;
    font-size: 40px;
}
a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #495249;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.2s ease;
    font-size: 24px;
}
a:hover {
    background-color: #242a24;
}
form {
    max-width: 400px;
    margin: 40px auto;
    margin-bottom: 80px !important;
    padding: 40px;
    background: #fff;
    border-radius: 8px;
    border: 3px solid #d51414;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    outline: none;
}
select {
    border: 2px dashed #ccc !important;
}
button {
    margin-top: 20px !important;
    background-color: lightcoral;
    color: white;
    font-size: 16px;
    border: 0px;
    min-height: 1%;
    border-radius: 5px;
    transition: background-color 0.2s ease-out;
}
button:hover {
    background-color: #854343;
}
.resultBox {
    display: none;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #bbe1bb;
    box-shadow: 4px 4px 12px #677067;
    border-radius: 20px;
    min-height: 150px;
    text-align: center;
}